.message-bag {
  border-radius: 0.25rem;
  color: white;
  font-weight: bold;
  margin-top: 1rem;
  outline: none;
  text-shadow: rgba($color: $color-base-shadow, $alpha: 1) 2px 2px 5px;

  & > div {
    padding: 0.5rem;
  }

  &--warning {
    background-color: #bd000055;
  }

  &--success {
    background-color: rgba($color: $color-base-accent, $alpha: 0.5);
  }
}
